* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background: #b2f3cf;
}
.navigation{
 
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    position: relative;
    /* position: fixed; */
    top: 0;
    z-index: 1;
}
 
.navigation__logo{
    font-size: 2rem;
    position: relative;
    letter-spacing: .2px;
    margin-right: auto;
    margin-left: 20px;
    font-weight: 900;
    font-size: 26px;
    
}
 
.navigaion__list{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    
}
.navigaion__item{
    padding: 1rem 1.5rem;
    color: black;
    margin-right: 4em;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none; 
}
 
.navigation__item--link, .navigation__item--link:visited{
    color: var(--col-black-light);
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
}
 
.navigation__item--link:hover{
    color: rgb(6, 206, 96);
}


@media screen and (max-width:800px) {
    .navigation__list{
        display: flex;
        flex-direction: column;
    }
    .navigation__nav{
        position: absolute;
        right: -20rem;
        top: 2rem;
        z-index: 1;
        transition: all .6s ease;
        /* background-color: white; */
    }
    .show__nav{
        /* position: absolute; */
        top: 2rem;
        right: 20rem;
    }
    .nav__button-main{
        display: block;
    }
    .navigation__item--link, .navigation__item--link:visited{
        color: var(--col-white);
    }
}

input[type=text], input[type=search] {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    line-height: 24px;
    color: #555;
    background-color: #f1f1f1;
    border: 2px solid rgba(0, 0, 0, 0);
    /* background-color: rgba(0, 0, 0, 0.1); */
    border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
#leaderboard {
    padding: 50px;
}
.ladder-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #02773d;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #686ef9;

}
.ladder-title {
    flex: 2;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #88ffbe;
    cursor: pointer;
}
.ladder-search {
    flex: 1;
    padding-right: 25px;
}
.ladder-search input {
    color: white;
    caret-color: #098b04;
}
.ladder-search input::-webkit-input-placeholder {
    color: #07b123;
}
.ladder-search input::-moz-input-placeholder {
    color: #07b123;
}
.ladder-search input::-ms-input-placeholder {
    color: #07b123;
}
.leaderboard-results {
    text-align: left;
    border-collapse: collapse;
}
.leaderboard-results thead th {
    padding:18px;
    color: #07b123;
    font-size: 14px;
    font-weight: bold;
}
.leaderboard-results tbody td {
    padding: 10px 25px;
    background: #02773d;
    color: #88ffbe;
    font-size: 16px;
    border-bottom: 5px solid #232323;
}
.leaderboard-results tbody td:nth-of-type(7) {
    font-weight: bold;
}
.leaderboard-results tbody tr:hover td {
    background: #5de69b;
    color: #098b04;
}
.leaderboard-results tbody tr {
    color: #747474;
}
.leaderboard-results tbody tr:first-child {
    color: #686ef9;
}
.leaderboard-results tbody tr:first-child span {
    background: #5055CB;
}
.leaderboard-results tbody tr span {
    background: #262626;
    color: #747474;
}

.container {
    display: grid;
    align-items: center;
    /* justify-content: space-between; */
}
.form-control {
    flex-direction: column;
    margin-top: 1.6rem;
    margin-bottom: -3px;
    margin-left: 0;
    width: 100%;
    align-items: center;
    line-height: 1.3em;

}
.upload-input {
    /* background: #5055CB; */
    line-height: 4em;
    width: 100%;
    overflow: hidden;
    
}
.upload-input img {
    width: 30px;
    cursor: pointer;
    margin-right: 30px;
}
.upload-input input {
    display: none !important;
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
.img {
    padding-top: 0;
    margin-top: -3rem;
    margin-left: 4rem;
}
